/Company/nbproject/private/
/CompanyInterface/nbproject/private/
/CompanyEEejb/nbproject/private/
/Company/dist/
/Company/build/
/CompanyInterface/build/
/CompanyInterface/dist/
/CompanyEEejb/build/
/CompanyEEejb/dist/
/CompanyEE/nbproject/private/
/CompanyEE/build/
/CompanyEE/dist/